{
  "root": true,
  "overrides": [
    {
      "files": [
        "*.tf"
      ], // Specify the extension or pattern you want to parse as JSON.
      "parser": "tf-parser", // Set this parser.
      "extends": "plugin:terraform-rules/terraform"
    }
  ],
  "plugins": [
    "terraform-rules"
  ],
  "parser": "tf-parser", // Set this parser.
  "extends": "plugin:terraform-rules/terraform"
}