{
  "root": true,
  "overrides": [
    {
      "files": [
        "*.tf"
      ]
    }
  ],
  "plugins": [
    "terraform-rules"
  ],
  "parser": "tf-parser",
  "parserOptions": {},
  "rules": {
    "terraform-rules/*": "error",
    "terraform-rules/my-rule": "error",
    "terraform-rules/encrypted_Connections": "error",
    "terraform-rules/dummy": "error",
    "terraform-rules/test-rule": "error", 
    "terraform-rules/testRule2": "error"
  }
}