{
  "root": true,
  "overrides": [
    {
      "files": ["*.tf"], // Specify the extension or pattern you want to parse as JSON.
      "parser": "tf-parser", // Set this parser.
    "rules": {
        "terraform-rules/my-rule": "error",
        "terraform-rules/encrypted_Connections": "error",
        "terraform-rules/dummy": "error",
        "terraform-rules/test-rule": "error", 
        "terraform-rules/testRule2": "error"
      }

    }
  ],
  "plugins": [
    "terraform-rules"
  ]
}
